:root {
	--orange: #f4a547;
	--light-green: #baddc9;
	--grey: #666;
}

body {
	margin: 0px;
	font-family: helvetica;
	color: var(--grey);
}

h1 {
	margin: 0;
	font-size: 24px;
	font-weight: 200;
	white-space: nowrap;
	margin-bottom: 6px;
}

h3 {
	font-size: 24px;
	font-weight: normal;
}

.header {
	display: flex;
	flex-flow: row wrap;
	align-items: baseline;
	justify-content: space-between;
	padding: 18px 54px;
}

.ledgerTabs:hover {
	cursor: pointer;
}

.ledgerTabSeparation {
	margin: 0px 4px;
}

.balance {
	padding: 32px 54px;
	font-size: 28px;
	background: var(--light-green);
}

.balanceText {
	text-transform: uppercase;
	font-size: 16px;
	margin: 8px 0px;
}

.transactionContainer {
	padding: 32px 54px;
	overflow-y: auto;
}