h1 {
	margin: 0;
	font-size: 32px;
}

h3 {
	font-size: 24px;
}

.container {
	padding: 0px 24px;

}

.header {
	display: flex;
	align-items: baseline;
	justify-content: space-between;
	padding: 28px 0;
}

.ledgerVariations {
	margin: 0px 5px;
}

.ledgerVariations:hover {
	cursor: pointer;
}

.balance {
	padding: 24px 0px;
	font-size: 28px;
}